<!-- HTML 5 doctype-->
<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <!--Page Settings-->
    <title>About Us Page</title>
    <meta charset="utf-8">
    <meta name="description" content="About Page">
    <!-- BOOTSTRAP 4 - CDN included in order to not need to download and host Bootstrap 4 -->
    <!-- included to ensure proper rendering & touch zoom on Mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Must include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Link CSS File-->
    <link rel="stylesheet" href="../_css/style.css">

</head>

<body>
    {{>nav_public}}

    <!--Header -->
    <div id="about_header" class="jumbotron text-center">
        <h1>About Us</h1>
    </div>

    <div class="container">
        <div class="row">
            <div id="about_title" class="col-12">
                <h5>-Goal-</h5>
            </div>
            <div id="about_normal" class="col">
                We are an organization dedicated to make life managable for all of us during these dreadful times.
                </br>
                </br>
            </div>
        </div>
        <div class="row">
            <div id="about_title" class="col-12">
                <h5> -About-</h5>
            </div>
            <div id="about_normal" class="col-12">
                This Project thus far has been conducted solely and locally in Ireland but may expand with
                future prospects of growth to include global interests and market.
                </br>
                </br>
            </div>
        </div>
        <div class="row">
            <div id="about_title" class="col-12">
                <h5> -Technology-</h5>
            </div>
            <div id="about_normal" class="col-12">
                Some of the technologies that made the creation of this Project possible include:
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <!-- Grid Columns -->
        <div class="col"> </div>
        <div class="col">HTML</div>
        <div class="col">CSS</div>
        <div class="col">JavaScript</div>
        <div class="col">Bootstrap</div>
        <div class="col"> Node.js</div>
        <div class="col"> Github, Gitpod</div>
        <div class="col"> VS Code</div>
        <div class="col"> etc. </div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>

</html>