<!--nav bar -->
    <div class="container-fluid p-0 border bg-dark text-white">
        <div class="row">
            <!-- Grid Columns -->
            <div class="col-1" style="border-style: double; border-color:silver;"> <a class="nav_link"
                    href="index.html">Home</a></div>
            <div class="col-2" style="border-style: double; border-color:silver;"> <a class="nav_link"
                    href="about.html">About Us</a></div>
            <div class="col-6" style="border-style: double; border-color:silver;"><img id="nav_img"
                    src="../images/accountIcon.bmp" /> Logged in. </div>
            <div class="col-2" style="border-style: double; border-color:silver;"> <a class="nav_link"
                    href="todo.html">Managment</a>
            </div>
            <div class="col-1" style="border-style: double; border-color:silver;"> <a class="nav_link"
                    onclick="alert('Successfully signed out!')" href="../_public/login.html">Sign Out</a> </div>
        </div>
    </div>