body{
    //background: lightcyan;
   
    background-image: url("../_img/BG.bmp");
    background-size: cover;
    //opacity: 1.0;

    h1{
        color:cyan;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
    }
}